<h1>Welcome to Hobby Tracker</h1>
<div class="card indigo darken-3">
<p>An Application To Keep Track Of All Your Hobbies</p>
</div>
<div class="row">
<%= link_to 'Try Me', hobbies_path, class: "btn blue col s12" %>
</div>

