

<h2 class="white-text text-darken-2 center-align  deep-purple darken-2">Welcome! </h2>
<hr>
<div class="row">
<%= link_to 'Add A Hobby', new_hobby_path, class: "btn blue darken-3 col s12" %>
<br>
<h3>Your Hobbies:</h3>
<hr>
<ul>
  <% @hobbies.each do |h| %>
  <li>
  <h3><%= h.name%></h3>
  </li>
  <%= link_to "Edit", edit_hobby_path(h), class: "btn deep-purple"%> |
  <%= link_to "Delete", hobby_path(h), method: :delete, class: "btn deep-purple"%> 
  <hr>

  <%end%>
</ul>

