@import "materialize"; 
@import "flash"; 
@import url('https://fonts.googleapis.com/css?family=Kodchasan:400,700&display=swap');

* {
  font-family: Kodchasan, Helvetica, sans-serif; 
  font-weight: bold;
  color: white;  


}

body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-btn {
  text-align: center; 
  margin: 0 auto; 
}